@charset "utf-8";
/* CSS Document */
#Wrapper {
	width: 1320px;
	margin: auto;
}
#Header {
	text-align: center;
	width: 1320px;
}
#Map {
	float: left;
	width: 1050px;
	height: 500px;
	text-align: center;
}
#accordion {
	float: right;
	width: 250px;	
}
#mapKey {
	float:right;
	width:249px;
}
#MapLegend {
	float: left;
}
body {
	background-image:url(blue_bg.jpg);
}
.infobox {
	width:100px;
}