@charset "utf-8";
/* CSS Document */
#Wrapper {
	width: 1300px;
	margin: auto;
}
#Header {
	text-align: center;
	width: 1300px;
}

#Map {
	float: left;
	width: 1050px;
	height: 500px;
	text-align: center;
}
#accordion {
	float: right;
	width: 246px;	
}
#mapKey {
	float:right;
	width:249px;
}



#MapLegend {
	float: left;
}

body {
	background-image:url(blue_bg.jpg);
}